body{
    background-color: #fcdc97;
}
.main_box {
    text-align: center;
    margin: 30px 0;
    padding: 30px 0;
    /* background-color: #fcdc97; */
}

.main_box h2 {
    font-size: 24px;
    margin: 20px;
}

.main_box .paras {
    font-size: 20px;
    margin: 40px;
    padding: 10px 40px;
    text-align: left;
    border-bottom-right-radius: 70px;
    border-bottom: 2px solid #1c6861;
    border-right: 2px solid #1c6861;
    box-shadow: 8px 8px #98e7df;
    background-color: white;
}